@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/** All site **/

header {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 5px;
}

body {
    background-color: #E6E6FA;
}

/** Color section **/

.section {
    border: 2px solid black;
    padding: 10px;
    margin: 25px auto;
    width: 50%;
}

.section h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.color-section {
    width: 100%;
}

.color-container {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 5px auto;
  padding: 5px 15px;
}

.black {
    background-color: #1b1e23;
    color: white;
    margin: auto 45px;
}

.white {
    background-color: #F0FFFF;
    color:black;
}

/** Font section **/

.font-section {
    width: 100%;
}

.font-container {
    margin: 5px auto;
    padding: 5px 5px;
    font-size: larger;
}

.titlegym {
    font-family: Bebas Neue;
}

.underline {
    text-decoration: underline;
}

.g {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.otherT {
    font-family: Oswald;
}

.boldT {
    font-weight: bold; 
}

.italikT {
    font-style: italic;
}

/** Text Styles **/

.styleH1 {
    font-weight: bold;
    font-size: 24px;
}

.styleLower {
    font-size: 22px;
}

/** Photos **/

.photo-section {
    width: 100%; 
}

.photo-container img {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 5px auto;
    padding: 5px 15px;
}